body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.thumbNail {
  padding-top: 5px;
  width: 150px;
  height: 150px;
  margin: auto;
}

.center {
  text-align: center;
}

.form {
  width: 50%;
  margin: auto 0;
}

.shippingInfo {
  list-style-type: none;
}
.cardImg {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.review {
  margin-bottom: 10px;
}

.landing-img {
  width: 150px;
  height: 150px;
}

.landing-div {
  padding-top: 10px;
}

.align-left {
  text-align: left !important;
}

.small-txt {
  color: rgb(171, 164, 164);
  font-size: 14px;
}

.small-pad-bottom {
  padding-bottom: 20px;
}
.AddBeerButton {
  margin-right: 100px;
}

.cartImg {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 20px;
}
